/* global */

:root {
  --Purple: hsl(259, 100%, 65%);
  --Light-red: hsl(0, 100%, 67%);
  --Light-grey: hsl(0, 0%, 86%);
  --Smokey-grey: hsl(0, 1%, 44%);
  --White: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 8%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  position: relative;
  margin: 0;
  background-color: var(--Light-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

#age-calc .invalid label {
  color: var(--Light-red);
}

#age-calc .invalid input {
  border-color: var(--Light-red);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}

/* age calc app */

#age-calc {
  background-color: #fff;
  flex: 1;
  margin: 0 10px;
  border-radius: 20px 20px 70px 20px;
  max-width: 700px;
  padding: 44px 22px;
}

#age-calc form {
  display: flex;
  gap: 15px;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--Light-grey);
  position: relative;
}

#age-calc input {
  display: block;
  width: 100%;
  padding: 16px;
  border: 1px solid var(--Light-grey);
  border-radius: 6px;
  font-weight: 800;
  outline: none;
  font-size: 20px;
  color: var(--black);
}

#age-calc input::placeholder {
  color: var(--Smokey-grey);
}

#age-calc label {
  color: var(--Smokey-grey);
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: block;
  margin-bottom: 5px;
}

#age-calc form span {
  display: block;
  color: var(--Light-red);
  font-size: 12px;
  font-style: italic;
  min-height: 18px;
  margin-top: 6px;
}

#age-calc #submit {
  position: absolute;
  padding: 16px 18px;
  background-color: var(--Purple);
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

#age-calc #submit:hover {
  background-color: var(--black);
}

#age-calc #submit img {
  width: 25px;
}

.results {
  padding-top: 60px;
  font-size: 50px;
  font-style: italic;
  font-weight: 800;
  color: var(--black);
  line-height: 1;
}

.results span {
  color: var(--Purple);
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.attribution a {
  color: var(--Purple);
}

/* media query */

@media (min-width: 500px) {
  #age-calc {
    padding-left: 46px;
    padding-right: 46px;
  }

  #age-calc form {
    gap: 25px;
  }

  #age-calc input {
    width: 130px;
  }

  #age-calc #submit {
    left: calc(100% - 31px);
  }

  .results {
    padding-top: 40px;
    font-size: 70px;
  }
}
